
*.o

*.so

*.a

examples/test_swap

examples/test_dot_dyn

examples/test_dot

examples/test_copy

examples/test_complexe2

examples/test_complexe

examples/flop.h

examples/flop.c

examples/test_nrm2

examples/test_iamin

examples/test_iamax
